<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.kicom.note.dao.EmpDao">

	<!-- 执行完sql后，会将数据库生成的主键值返回给Emp参数的id属性 -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="org.kicom.note.entity.Emp">
		insert into cn_emp (name,age)
		values (#{name},#{age})
	</insert>

	<!-- oracle写法 -->
	<insert id="oracleSave" parameterType="org.kicom.note.entity.Emp">
		<!-- 在insert语句前执行，将id值给id属性 -->
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			select emp_seq.nextval from dual
		</selectKey>
	
		insert into cn_emp (id,name,age)
		values (#{id},#{name},#{age})
	
	</insert>

</mapper>